#formWC {
  display: flex;
  width: 350px;
}

#wcTitle {
  max-width: 150px;
}

#wcTimeZone {
  max-width: 200px;
}

input[type="text"] {
  width: 100px;
}

#allWc {
  min-height: 10px;
  background-color: bisque;
  margin-top: 15px;
  padding: 0 10px;
}

